*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #978787;
    font-family: sans-serif;
   
}
.circle{
    box-sizing: border-box;
    position: absolute;
    width: 529px;
    height: 529px;
    right: 670px;
    top: 0px;
    border: 1px solid #000000;
    border-radius: 50%;
  }
  .cir2{
    box-sizing: border-box;
    position: absolute;
    width: 529px;
    height: 529px;
    left: 100px;
    top:100px;
    border: 1px solid #000000;
    border-radius: 50%;
  }
  .cir3{
    box-sizing: border-box;
    position: absolute;
    width: 529px;
    height: 529px;
    left: 100px;
    top:100px;
    border: 1px solid #000000;
    border-radius: 50%;
  }
.contact-box{
width: 400px;
background-color: #fff;
box-shadow: 0 0 20px #999;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
position: absolute;


}
form{
    margin: 35px;

}
.input-field{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: rgba(146,130,130,1);
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.i1{
    width: 476px;
    height: 476px;
    position: absolute;
    bottom: 100px;
    right: 633px;
  
  }
  